<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098042709480-lkv0mgnt1i8roddk3egpr0jfq8a4s76o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098042709480-lkv0mgnt1i8roddk3egpr0jfq8a4s76o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098042709480-b7rv7orsdh4as3c92q5q0tvljf31leid.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3G6qwSnlHCPFzd1Z6DmA46bfWZ42hcnI</string>
	<key>GCM_SENDER_ID</key>
	<string>1098042709480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thit.flutterauth.flutterAuthPrj</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebaseauth-c2c7a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebaseauth-c2c7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098042709480:ios:fa9139605dd27d6c56005d</string>
</dict>
</plist>